{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-lg-4">
        <form method="post">
            <fieldset>
                <div class="form-group row">
                    <label class="col-form-label" for="username">Username</label>
                    <input type="text" class="form-control-plaintext" name="username" id="username" required>
                </div>
                <div class="form-group row">
                    <label class="col-form-label" for="password">Password</label>
                    <input type="password" class="form-control-plaintext" name="password" id="password" required>
                </div>
                <div class="form-group row">
                    <input class="btn btn-primary" type="submit" value="Log In">
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}