<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
      integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
      crossorigin="anonymous">
<script>
    function getYear() {
        return (new Date).getFullYear();
    }
</script>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">Flaskr</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Inicio</a></li>
            </ul>
            <ul class="navbar-nav ml-auto navbar-right">
                {% if g.user %}
                <li class="nav-item"><span class="nav-link">{{ g.user['username'] }}</span>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
                    {% else %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>
                    {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container" style="margin-top: 10px">
    <section class="content">
        <div class="card border-primary mb-3">
            <div class="card-header">{% block header %}{% endblock %}</div>
            <div class="card-body">
                {% for message in get_flashed_messages() %}
                <h4 class="card-title"></h4>
                <p class="card-text">{{ message }}</p>
                {% endfor %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </section>
    <footer>
        <div class="row">
            <div class="col-lg-6 workshop-left text-muted">
                <p>&copy;
                    <strong>
                        <script>
                            var year = getYear();
                            document.write(year);
                        </script>
                    </strong> - LSCA David Mendez Guardado
                </p>
            </div>
            <div class="col-lg-6 workshop-right text-muted">
                Powered By -
                <a href="http://getbootstrap.com" target="_blank">
                    <i class="fa fa-bold" aria-hidden="true"></i>&nbsp;Bootstrap</a> | Powered By -
                <a href="https://www.python.org/" target="_blank">
                    <i class="fab fa-python" aria-hidden="true"></i>&nbsp;Python</a> | Powered by
                <a href="http://flask.pocoo.org/" target="_blank">
                    <i class="fab fa-affiliatetheme" aria-hidden="true"></i>&nbsp;Flask</a>
            </div>
        </div>
    </footer>
</div>
